body {
    margin: 0px;
}
#header {
    background-color: antiquewhite;
    background-color: rgb(239, 219, 181);
    width: 100%;
    height:100px;
    display:inline-flex;

}
.menu{
    width:70%;
    margin-top: 30px;
    text-align: right;
}
ul{
    display: inline-flex;
}
li {
    padding: 0px 40px 0px 40px;
    font-size: 25px;
    color: brown;
    text-transform: capitalize;
}
.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.66) ),
    url(../img/background\ img.jpeg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.herotxt{
    text-align: center;
    padding: 90px;
    color: rgb(216, 220, 224);
}
a{
    text-decoration: none;
}
h1-hero{
    line-height: 50px;
    font-size: 30px;
}
.hero-para{
    margin: 0px 120px 0px 120px;
    font-size: 20px;
}
.hero-btn{
    font-size: 20px;
    padding: 10px 60px 10px 60px;
    background-color: antiquewhite;
    color: rgb(95, 21, 21);
    border-radius: 10px;
    margin-top: 10px;
text-transform: uppercase;
border: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.hero-btn:hover{
    background-color:rgb(233, 177, 110);
    color:rgb(117, 26, 26)
}
.about{
    background-color:white
    width: 100%;
    height: 400px;
}
.About_div{
background-color: rgba(239, 219, 181, 0.963);
    width: 100%;
    height: 1000px;
    display: inline-flex;
    margin-top: 100px;
    margin-left: 30px;

}

.abt11{
 width: 40%;
height: 100px;
margin-top: 80px;
margin-left: 50px;
margin-bottom: 50px; 
padding-left: 30px;
}
.abt12{
    width: 60%;
    height: 100px;
    margin-top: 80px;
 margin-left: 50px;   
margin bottom: 50px;
padding-left:30px;
}

.abt11-box1{
    margin: 0px 90px 0px 0px;
    margin-top: 50px;
    margin-left: 30px;

}
.abt12-box1
{
margin-left: 30px;
margin
}

.abt13-box2
{
margin: 30px 0px 15px 20px;



}
</div>
.about2
</div>

