body {
    margin: 0px;
}
#header {
    background-color: antiquewhite;
    background-color: rgb(239, 219, 181);
    width: 100%;
    height:100px;
    display:inline-flex;

}
.menu{
    width:70%;
    margin-top: 30px;
    text-align: right;
}
ul{
    display: inline-flex;
}
li {
    padding: 0px 40px 0px 40px;
    font-size: 25px;
    color: brown;
    text-transform: capitalize;
    text-decoration: no;
}
.hero{
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.66) ),
    url(../img/background\ img.jpeg);
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.herotxt{
    text-align: center;
    padding: 90px;
    color: rgb(216, 220, 224);
}

.h1-hero{
    line-height: 50px;
    font-size: 30px;
    text-align: center;
}

.a{
    text-decoration: none;
}
.hero-para{
    margin: 0px 120px 0px 120px;
    font-size: 20px;
}
.hero-btn{
    font-size: 20px;
    padding: 10px 60px 10px 60px;
    background-color: antiquewhite;
    color: rgb(95, 21, 21);
    border-radius: 10px;
    margin-top: 10px;
text-transform: uppercase;
border: none;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.hero-btn:hover{
    background-color:rgb(233, 177, 110);
    color:rgb(117, 26, 26)
}
.aboutbackground{
    background-color:white;
    width: 100%;
    height: auto;
}
.background_div{
background-color: rgba(239, 219, 181, 0.963);
    width: auto;
    height: 4000px;
    display: inline-flex;
}

.abt1{
 width: 40%;
height: 100px;
margin-top: 40px;
margin-left: 50px;
margin-bottom: 50px; 
padding-left: 30px;
padding-right: 80px;


}
.abt2{
width: 60%;
height: 100px;
margin-top: 80px;
 margin-right: 50px;
 margin-bottom: 50px;
 padding-left: 30px;
}

   .box1, .box2 {
    width: 100%;
    height: 240px;
    display: inline-flex;
   }
   .abt11-box1, .abt12-box1, .abt13-box2, .abt14-box2
   {background-color:burlywood;
    width: 50%;
    height: 220px;
    margin: 5px;
    border-radius: 10px;
   }
   .abt11-box1:hover, .abt12-box1:hover, .abt13-box2:hover, .abt14-box2:hover{
    background-color:rgb(116, 77, 27)
   }
   .abt2-h2{
    margin: 0px 90px 0px 0px;
   }
   .abt-p{
 line-height: 20px;
 margin-right: 40px;
   }
   .abt-img {
    border-radius: 80px;
    margin-top: 5px;
   }
.hero1{
    background: url(../img/backimg2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    width:300%;
    height:600%;
    background-position: center;
    margin-top:30px;
}

.herotxt1
{text-transform: capitalize;
    text-align: left;
    color: black;
    padding-top:  40px;
    text-transform: capitalize;
    padding-left: 50px;
}
.h3-hero{
    color: brown;}
.h1-hero{
    text-align: left;
    text-transform: capitalize;
    color: rgb(172, 151, 151);
}
.para1{
    color: rgba(0, 0, 0, 0.564)
}
.hero-btn2{
    padding-left: 30px;
    padding-right: 30px;
    text-transform: capitalize;
    font-size: large;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: bisque;
}
.hero-btn2:hover{
 background-color:rgb(214, 147, 60)}

.h1-hero{
    text-align: center;
color: black;}
    
    


   

</div>
</div>

